# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tarkov
DATABASE_URL=postgresql://postgres:postgres@db:5432/tarkov

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend
PYTHONUNBUFFERED=1
